<%= flash[:notice] %>
<%= link_to 'Voltar', promotions_path %>

<dl>
    <dt>Nome</dt>
    <dd><%= @promotion.name %></dd>
    <dt>Descrição</dt>
    <dd><%= @promotion.description %></dd>
    <dt>Código</dt>
    <dd><%= @promotion.code %></dd>
    <dt>Porcentagem de desconto</dt>
    <dd><%= number_to_percentage @promotion.discount_rate, precision:2, separator: ',' %></dd>
    <dt>Quantidade</dt>
    <dd><%= @promotion.coupon_quantity %></dd>
    <dt>Data de expiração</dt>
    <dd><%= l @promotion.expiration_date %></dd>
    <hr>
</dl>

<% if !@promotion.coupons.any? %>
    <%= link_to 'Gerar cupons', generate_coupons_promotion_path(@promotion), method: :post %>
<% end %>

<% @promotion.coupons.each do |coupon| %>
    <div id="coupon-<%= coupon.id%>">
        <span><%= coupon.code %> (<%= t(".#{coupon.status}") %>)</span>
        <% if coupon.active? %>
            <%= link_to 'Inativar', inactivate_coupon_path(coupon), method: :post %>
        <% end %>
    </div>
<% end %>

<%= link_to 'Editar', edit_promotion_path(@promotion) %>

<%= link_to 'Apagar', promotion_path(@promotion), method: :delete,
    data: { confirm: 'Tem certeza que deseja apagar?' } %>
